# SPDX-FileCopyrightText: 2025 Akseli Lahtinen <akselmo@akselmo.dev>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=KomoDo
GenericName=todo.txt Application
Comment=Create and manage todo.txt task lists
Exec=komodo
Icon=org.kde.komodo
Type=Application
Terminal=false
Categories=Utility;KDE;QT;
Keywords=Productivity;Todo;Task;
SingleMainWindow=true
