[Desktop Entry]
Name=KomoDo
Name[x-test]=xxKomoDoxx
Name[fi]=KomoDo
GenericName=Task Application for todo.txt format
GenericName[fi]=Sovellus todo.txt formaattia noudattaville tehtäville
GenericName[x-test]=xxTask Application for todo.txt formatxx
Exec=komodo
Icon=korg-todo
Type=Application
Terminal=false
Categories=Utility;KDE;QT;
Keywords=Productivity;Todo;Task;
SingleMainWindow=true